BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
PointerAlignment: Left
DerivePointerAlignment: false
InsertNewlineAtEOF: true
RawStringFormats:
  - Language: Cpp
    Delimiters: [GLSL]
